.register{
    width: 100%;
    height: 2rem;
    background-color: var(--color-brand-1);
    border-radius: var(--radius-1);
    color: var(--fixed-white);
    border: none;
}

.buttonNave{
    width: 5.5rem;
    height: 2rem;
    border-radius: var(--radius-1);
    background-color: var(--fixed-white);
    border: solid 1px var(--color-grey-5);
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-1);
    color: var(--color-grey-2);
}
.button-caixa{
    width: 4.24rem;
    height: 1.6rem;
    background-color: var(--color-grey-4);
    color: var(--color-grey-2);
    border-radius: var(--radius-2);
    border: none;
}
.b-none{
    border: none;
    background-color: var(--fixed-white);
}

.b-type-valor{
    height: 2rem;
    background-color: var(--fixed-white);
    color: var(--color-grey-2);
    border-radius: var(--radius-1);
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-1);
    border: solid 1.5px var(--color-grey-5);
}

.b-modal-cancel{
    width: 8.75rem;
    height: 2rem;
    border-radius: var(--radius-1);
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-1);
    background-color: var(--color-grey-4);
    color: var(--color-grey-2);
    border: none;
}

.b-modal-inserir{
    width: 8.75rem;
    height: 2rem;
    border-radius: var(--radius-1);
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-1);
    background-color: var(--color-brand-1);
    color: var(--fixed-white);
    border: none;
}

.b-close-modal{
    width: 2.188rem;
    height: 1.875rem;
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-1);
    color: var(--color-grey-2);
    background-color: var(--color-grey-4);
    border-radius: var(--radius-2);
    border: none;
}

.modal-input{
    height: 2.75rem;
    border-radius: var(--radius-1);
    background-color: var(--fixed-white);
    border: solid 1.5px var(--color-grey-3);
    padding-left: 1rem ;
}